{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <form class="form-inline">
                    <a class="my-1 mr-sm-2" href="{% if verifyToken == token %}/?verifyToken={{ token }}{% else %}/{% endif %}">Головна</a> |
                    <strong class="ml-2">Завантажити фото транспорту</strong>
                    <select id="control_type" class="form-control mt-2 ml-auto">
                        <option selected value="{{ constant('Bus115\\Upload\\Manager::TYPE_TRANSPORT') }}">Транспорт</option>
                        <option value="{{ constant('Bus115\\Upload\\Manager::TYPE_STOP') }}">Зупинка</option>
                    </select>
                </form>
            </div>
            <div class="card-body">
                <h4>Оберіть файли фотографій ТРАНСПОРТУ з компьютера</h4>
                <form action="/upload_transport" method="post" enctype="multipart/form-data" id="js-upload-form">
                    <div class="form-group">
                        <label for="formGroupInput">Фотографія транспорту</label>
                        <input type="text" class="form-control" id="formGroupInput" placeholder="Автобус 115">
                    </div>
                    <div class="form-group custom-file">
                        <label for="js-upload-files" class="custom-file-label">Оберіть файли, можна багато, але опис лише один</label>
                        <input type="file" name="files[]" id="js-upload-files" multiple class="custom-file-input">
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Завантажити файли</button>
                </form>

                <h4 class="card-title mt-3">Або перетягніть їх сюди</h4>
                <div class="upload-drop-zone" id="drop-zone">
                    Драг енд дроп
                </div>
            </div>
        </div>
        <h3 class="mt-3">Останні додані фотографії</h3>
        {{ include('lister_images.html.twig', {'images': images, 'type' : type}) }}
    </div> <!-- /container -->
    <script src="{{ asset('js/upload.js') }}"></script>
{% endblock %}
